@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    font-family: 'Manjari',sans-serif !important;
    overflow-x: hidden !important;
    width:100vw !important;
    scroll-behavior: smooth;
}
.link{
    position: relative;
}
.link::before{
    content: "";
    position: absolute;
    bottom:0;
    left:0;
    width:0;
    height: 0.2rem;
    border-radius: 0.2rem;
    background: rgba(52, 211, 153);
    color: "red";
    opacity: 0;
    transition:300ms ease-in
}
.link:hover::before{
    opacity: 1;
    width:90%
}
.logo{
    font-family: 'Monoton',
    cursive;
}

.list p{
    padding-top: 10px;
}

.list p i{
    width:30px;
    height:30px;
    border: 2px solid #34D399;
    text-align: center;
    border-radius: 50%;
    padding-top: 5px;
    color:#34D399
}

.icon{
    width: 3rem;
    height:3rem;
    border-radius: 3.5rem;
    text-align: center;
    display: block;
    padding-top: 0.5rem;
}
.wrapper{
    display: flex;
    align-items: center;
}
.team-wave{
    margin-bottom: -10px;
}

.testimony-card{
    border:2px solid silver;
}
.avatar{
    width:2rem;
    height:2rem;
    text-align: center;
    margin:0.2rem 0rem 0rem 0rem;
}
.input{
    background: transparent;
    border-bottom: 2px solid white;
    outline: none;
    color:white
}
.input::placeholder{
    color: white;
    fontsize:1.4rem
}

@media (max-width: 768px) {
    .nav-main{
        display: none;
    }
    .hero{
        width:100%;
        flex-direction: column-reverse;
        padding: 0 0.5rem 0.2rem 0.3rem;
        margin: 0 auto !important;

    }
    .hero h1{
        font-size: 1.875rem;
        
    }

}
@media (max-width:940px){
    .second {
        flex-direction: column;
    }
    .list{
        margin-bottom: 4rem;
    }
    .choose{
        flex-direction: column-reverse;
    }
    .features{
        flex-direction: column;
    }
    .card-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}